[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2019.1"
python-slugify = "==3.0.2"
rcssmin = "==1.0.6"
argon2-cffi = "==19.1.0"
redis = "==3.2.1"
celery = "==4.3.0"
django-celery-beat = "==1.5.0"
django-environ = "==0.4.5"
django-model-utils = "==3.2.0"
django-allauth = "==0.39.1"
django-crispy-forms = "==1.7.2"
django-compressor = "==2.3"
django-redis = "==4.10.0"
djangorestframework = "==3.10.0"
coreapi = "==2.3.3"
gunicorn = "==19.9.0"
psycopg2 = "==2.8.3"
django-storages = {extras = ["boto3"],version = "==1.7.1"}
django-anymail = {extras = ["mailgun"],version = "==6.1.0"}
Pillow = "==6.1.0"
Django = "==2.2.10"
Collectfast = "==0.6.2"

[requires]
python_version = "3.7"
